@import "../../node_modules/antd/dist/antd.less";

// Main Variables
@dark-color: #1e2b3a;
@primary-color: #243140;
@secondary-color: #1b252f;
@dimmer-color: #616a75;
@dim-color: #adbfd0;
@light-color: #f7f9fa;
@text-color: @dim-color;
@body-background: @primary-color;
@component-background: @primary-color;
@disabled-color: @text-color;
@text-color-secondary: @light-color;
@background-color-light: @dimmer-color;

// Headings
@heading-color: @text-color;

// Inputs
@input-border-color: @dim-color;
@input-bg: transparent;
@input-addon-bg: transparent;
@input-placeholder-color: @dimmer-color;
@input-hover-border-color: @light-color;
@outline-color: @light-color;
.ant-input {
  &:active,
  &:hover,
  &:focus {
    color: @light-color;
  }
  &::selection {
    background-color: @light-color;
    color:@secondary-color;
  }
}

// Buttons
@btn-primary-color: @text-color;
@btn-default-bg: transparent;
@btn-disable-color: @dimmer-color;
@btn-disable-bg: transparent;
@btn-disable-border: @dimmer-color;
.ant-btn-dashed {
  &:active,
  &:hover,
  &:focus {
    .button-color(@light-color; transparent; @light-color);
  }
}
.ant-btn-default {
  &:active,
  &:hover,
  &:focus {
    .button-color(@light-color; transparent; @light-color);
  }
}

// Modals
@modal-header-bg: @secondary-color;

// Select
.ant-select-selection {
  background-color: transparent;
  &:active,
  &:hover,
  &:focus {
    border-color: @light-color;
    color: @light-color;
  }
  &::selection {
    background-color: @light-color;
    color:@secondary-color;
  }
}

.ant-select-selection__placeholder {
  &:active,
  &:hover,
  &:focus {
    color: @light-color;
  }
}

// Tabs
@tabs-card-active-color: @text-color;
@tabs-card-head-background: transparent;

// Tag
@tag-default-bg: @secondary-color;

// Table
@table-header-bg: @primary-color;

// Pagination
.ant-pagination{
  &-item {
    &:active,
    &:hover,
    &:focus {
      a {
        color: @light-color;
      }
    }
  }
  &-item-active {
    background-color: @dim-color;
    color: @primary-color;
  }
  &-jump-prev,
  &-jump-next {
    &:active,
    &:hover,
    &:focus {
      color: @light-color;
      .ant-pagination-item-ellipsis {
        opacity: 1;
        color: @light-color;
      }
    }
  }
}

// Popover
@popover-bg: black;

// Checkbox
@checkbox-check-color: @light-color;
